@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@property --angle {
	syntax: "<angle>";
	initial-value: 90deg;
	inherits: true;
}

@property --gradX {
	syntax: "<percentage>";
	initial-value: 50%;
	inherits: true;
}

@property --gradY {
	syntax: "<percentage>";
	initial-value: 0%;
	inherits: true;
}

.result-app {
	width: 100vw;
	height: 100vh;
	display: flex;
}

.class-list {
	position: relative;
	background-color: #111;
	font-size: 1.5rem;
	border: 0.2rem solid;
	width: 300px;
	border-image: conic-gradient(from var(--angle),
			var(--c2),
			var(--c1) 0.1turn,
			var(--c1) 0.15turn,
			var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: #e73c7e;
	--c2: #ffffff;
}

.class-list h1 {
	color: #fff;
	font-weight: 700;
	font-size: 1.8rem;
	letter-spacing: 1px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-family: "Poppins", sans-serif;
	text-wrap: wrap;
}

.class-list ul li {
	width: fit-content;
	position: relative;
	padding: 0 4px;
	color: white;
	margin-bottom: 10px;
	cursor: pointer;
	transition: 150ms;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		text-align: center;
		background-color: white;
		width: 0;
		transition: width 250ms;
		height: 100%;
		overflow: hidden;
	}

	&:hover::before {
		width: 100%;
	}

	& span {
		position: relative;
		transition: color 250ms;

		&:hover {
			color: black;
		}

	}

	&.selected::before {
		background-color: orange;
		width: 100%;

	}

	&.selected span {
		color: black;
	}
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}

	40% {
		--gradX: 100%;
		--gradY: 100%;
	}

	60% {
		--gradX: 50%;
		--gradY: 100%;
	}

	80% {
		--gradX: 0%;
		--gradY: 50%;
	}

	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}

.connections {
	flex: 1;
	max-height: 100%;
	padding: 5% 0;
	background: linear-gradient(-45deg, #111, #00158b, #23a5d5, #23d5ab);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 40px;
	overflow-y: scroll;
}

.cnct-item {
	display: flex;
	flex-direction: row;
	width: 60%;
	height: fit-content;
	background-color: #ffe9ec;
	padding: 8px;
	border: 3px solid #111;
	border-radius: 8px;
	align-items: center;
	transition: 150ms;
}

.cnct-item.selected {
	background-color: orange;
}

.seperator {
	width: 2px;
	background-color: #000;
	margin: 0 10px;
	height: 40px;
	margin-left: 20px;
}

.cnct-name {
	display: block;
	align-items: center;
	padding-left: 10px;
}

.cnct-course-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	gap: 20px;
	margin-left: 30px;
	align-items: center;
}

.cnct-course {
	flex: 1;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}