@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
  }
  
  @property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
  }
  
  @property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
  }

.result-app {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.class-list {
  position: relative;
  background-color: #111;
  font-size: 1.5rem;
  border: 0.2rem solid;
  width: 300px;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
}

:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: #e73c7e;
	--c2: #23a6d5;
}

.class-list h1 {
  color: #FFF;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  text-wrap: wrap;
}

.class-list ul {
  position: relative;
}
.class-list ul li {
  position: relative;
  left: 0;
  color: #fce4ec;
  list-style: none;
  margin: 4px 0;
  padding-left: 20px;
  border-left: 2px solid #f50057;
  transition: 0.5s;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.class-list ul li:hover {
  left: 10px;
}
.class-list ul li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.class-list ul li:hover span {
  color: #111;
}
.class-list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f50057;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.class-list ul li:hover:before {
  transform: scaleX(1);
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}

.connections {
    flex: 1;
    height: 100%;
    padding-top: 5%;
    background: linear-gradient(-45deg, #111, #191fca, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 40px;
}

.cnct-item {
    width: 70%;
    height: fit-content;
    background-color: white;
    padding: 8px;
    border: 3px solid #111;
    border-radius: 8px;
}

.cnct-course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}